################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MetadataDB/Bin/
/MetadataDB/Obj/
/MetadataDB/MetadataDB.jfm
/.vs/
*.dbmdl
*.jfm
MetadataDB/MetadataDB.jfm
