<?xml version='1.0' encoding='utf-8'?>

<RunSettings>
    <TestRunParameters>
<!--        <Parameter name="KeyVaultUrl" value="" />  -->
        <Parameter name="DataFactoryResourceGroup" value="ADF.procfwk" />
        <Parameter name="DataFactoryName" value="FrameworkFactoryTest" />
        <Parameter name="WorkersDataFactoryName" value="WorkersFactory" />
        <Parameter name="ReportTestCoverage" value="false" />
    </TestRunParameters>
</RunSettings>
